.detail-stats {
  opacity: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: auto;
}

.detail-btn {
  display: flex;
  justify-content: center;
  margin: 0px 0px 10px 0px;
}

#hero-details input {
  display: none;
}

.details-sort,
.details-toggle {
  display: inline-block;
  border: 1px solid #17a2b8;
  color: #17a2b8;
  padding: 8px 20px;
  border-radius: 5px;
  margin: 0px 10px;
}

.details-sort:hover,
.details-toggle:hover {
  cursor: pointer;
  background:#17a2b8;
  color: white;
}

input[type=checkbox]:checked + p {
  background:#17a2b8;
  color: white;
}

.hero-name {
  font-size: 30px;
}

.hero-table div p {
  display: inline-block;
}

.hero-table div p:first-child {
  width: 100px;
  color: #757575;
}

.hero-table div p:nth-child(2) {
  width: 60px;
  text-align: right;
}

.pb-percent {
  font-size: 30px;
  color: white;
}