.heroes-container {
  width: 300px;
  height: 360px;
  top: 10px;
  position: absolute;
  border-radius: 5px;
}

.strength.heroes-container {
  background-color: rgba(234, 60, 6, 0.9);
  left: 650px;
}

.agility.heroes-container {
  background-color: rgba(82, 224, 43, 0.9);
  left: 10px;
}

.intelligence.heroes-container {
  background-color: rgba(94, 217, 236, 0.9); 
  left: 330px;
}