#hero-chart {
  position: relative;
  height: 700px;
  width: 960px;
  top: 0px;
}

.chart-header {
  display: flex;
  justify-content: center;
  height: 100px;
  margin: 25px 0px 0px 0px;
  font-size: 75px;
}

.header-title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 800px;
  font-family: trajan-pro-3, serif;
}

.header-subtext {
  display: flex;
  justify-content: center;
  font-family: trajan-pro-3, serif;
  /* margin: 0px 0px 50px 0px; */
}

.chart-parent {
  width: 960px;
  height: auto;
  margin: 0 auto;
  font-family: hypatia-sans-pro, sans-serif;
}

.heroes-container {
  width: 300px;
  height: 475px;
  top: 10px;
  position: absolute;
  border-radius: 5px;
  z-index: -1
}

.strength.heroes-container {
  background-color: rgba(249, 82, 31, 0.9);
  left: 650px;
}

.agility.heroes-container {
  background-color: rgba(110, 228, 78, 0.9);
  left: 10px;
}

.intelligence.heroes-container {
  background-color: rgba(117, 223, 240, 0.9);
  left: 330px;
}