#hero-chart {
  position: relative;
  height: 700px;
  width: 960px;
  top: 0px;
}

.chart-header {
  display: flex;
  justify-content: center;
  height: 100px;
  margin: 25px 0px 0px 0px;
  font-size: 75px;
}

.header-title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 800px;
}

.header-subtext {
  display: flex;
  justify-content: center;
  /* margin: 0px 0px 50px 0px; */
}

.chart-parent {
  width: 960px;
  height: auto;
  margin: 0 auto;
}

.heroes-container {
  width: 300px;
  height: 360px;
  top: 10px;
  position: absolute;
  border-radius: 5px;
  z-index: -1
}

.strength.heroes-container {
  background-color: rgba(234, 60, 6, 0.9);
  left: 650px;
}

.agility.heroes-container {
  background-color: rgba(82, 224, 43, 0.9);
  left: 10px;
}

.intelligence.heroes-container {
  background-color: rgba(94, 217, 236, 0.9); 
  left: 330px;
}